/* Navbar-specific styles */

.navbar {
    background-color: #1860f0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  .navbar-nav li {
    padding: 0 10px;
  }
  
  .navbar-nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav a:hover {
    text-decoration: underline;
  }
  